# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
dbnexus_frontend/node_modules
base/__pycache__/*
base/api/__pycache__/*
base/migrations/__pycache__/*
dbnexus_backend/__pycache__/*
/.pnp
.pnp.js
db.sqlite3

# testing
/coverage

# production
dbnexus_frontend/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
